body {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.concept-card {
    display: inline-block;
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    cursor: default;
}

.concept {
    margin-right: 5px;
}

.generation {
    margin-left: 5px;
}