:root {
    /* https://coolors.co/e63946-ec9a9a-f1faee-cdeae5-a8dadc-457b9d-1d3557 */
    --red-pantone: #e63946ff;
    --salmon-pink: #ec9a9aff;
    --honeydew: #f1faeeff;
    --mint-green: #cdeae5ff;
    --non-photo-blue: #a8dadcff;
    --cerulean: #457b9dff;
    --berkeley-blue: #1d3557ff;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--honeydew);
}

.loading {
    cursor: wait;
}

#workspace {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin: 30px;
}

#combined-concept {
    grid-row: 1;
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: center;
}

#left-concept {
    grid-row: 2;
    grid-column: 1;
    justify-self: end;
    align-self: center;
}

#combine {
    grid-row: 2;
    grid-column: 2;
    height: 80%;
    width: 80%;
    justify-self: center;
    align-self: center;
    cursor: inherit;
    border: solid 1px black;
    background-color: var(--salmon-pink);
    font-size: xx-large;
}

    #combine:disabled {
        background-color: initial;
    }

#right-concept {
    grid-row: 2;
    grid-column: 3;
    justify-self: start;
    align-self: center;
}

.concept-card {
    display: inline-block;
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    cursor: default;
    background-color: var(--non-photo-blue);
    min-width: 100px;
}

.concept {
    margin-left: 5px;
    margin-right: 5px;
}

.generation {
    margin-left: 5px;
    margin-right: 5px;
}

.concept-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.empty-concept {
    display: inline-block;
    border: dashed 1px black;
    margin: 5px;
    cursor: inherit;
    width: 150px;
}

.invisible {
    visibility: hidden;
}
